<div id="spec-container" class="container">
	<% if user_signed_in? %>
		<button class="new-btn btn-default">
			<%= link_to "New Spec", new_spec_path %>
		</button><br>
	<% end %>
	
	<% @specs.each do |spec| %>
	  <% if spec.id != Spec.last %>
		  <div class="column">
		  	<a href= "/specs/<%=spec.id%>">
			  	<div id="spec-thumbnail" class="col-xs-6 col-md-3 thumbnail">
					<h4><%= spec.title.html_safe %></h4>
				</div>
			</a> 
		  </div>
	  <% else %>
	  	<br>
	  <% end %>
	<% end %>
</div>