// Place all the styles related to the Mainview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
	padding: 15px 0px 15px 0px;
	margin: 0;
}

.mainview-title {
	text-align: center;
}


#logo-img {
	text-align: center;
}

#profile-body {
	text-align: center;
}

.spec-box {
	
	margin-left: 0;
	margin-right: 0;
	text-align: center;
}

.login {
	float: right;
}

