// Place all the styles related to the Mainview controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

section {
	padding: 15px 0px 15px 0px;
	margin: 0;
}

.mainview-title {
	text-align: center;
}


#logo-img {
	text-align: center;
}

#profile-context {
	text-align: center;
}

#spec-body {
	width: 75%;
	margin: auto;
	padding: auto;
}



.login {
	float: right;
}

.sns-btn {
	display: block;
	margin: 0 auto;
}
